:root {
  --muted: #dddddd;
  --hblue: #1b3d96;
  --red: #ed2024;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.navbar-light {
  background-color: transparent;
  height: 40px; 
  width: 100%;
  vertical-align: middle;
  margin: 2.5rem 0.3rem 0rem 1rem;
}

.footer {
  background: transparent;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  margin: 10rem 0 0 0;
  font-size: small;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.contact {
  text-align: left;
}

.contact>table {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.bottom-nav {
  justify-self: center;
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-nav>div>a {
  text-decoration: none;
  color: black;
}

.footer-map{
  width:100%;
  height: 100%;
  border:none;
  border-radius:8px;
  padding-left: 2rem;
}

.copyright{
  grid-column: 1 / span 3;
  text-align:center;
  margin-top: 2rem;
  background: var(--red);
  color: #fafafa;
  height:2rem;
  padding-top:1rem;
}

.navbar-ul {
  display: flex;
  justify-content: space-around;
}

.navbar-ul li {
  list-style: none;
  flex:20%;
}

.nav-link {
  text-decoration: none;
  color: var(--red);
  margin: 0rem 1rem 0rem 0rem;
  font-weight: 600;
}

.nav-link:hover {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.card {
  margin-top: 5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 8px;
  padding: 1rem;
  width: 50rem;
}

.home-cards{
  animation: slideUp 1s ease-in-out;
  width: 50rem;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(90px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.field {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}

.ctrl {
  border: var(--muted) 1px solid;
  border-radius: 0.2rem;
  background: #fafafa;
  font-size: 1rem;
}

.btn {
  padding: 0.5rem;
  color: var(--hblue);
  background-color: transparent;
  border: var(--hblue) 1px solid;
  border-radius: 0.2rem;
  line-height: 1;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-color: var(--hblue);
  ;
}

/* ------------------------------------ */

.prod-dropdown {
  display: none;
  background-color: transparent;
  animation: slideDown 1s ease-in-out;
  animation-fill-mode: forwards;
  padding: 0;
  background:white;
  justify-self: center;
  border: none;
}

.prod-dropdown li {
  padding: 1rem;
  width: fit-content;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.prod-link:hover +.prod-dropdown {
  display: block;
}

.prod-link:hover +.prod-dropdown li {
  display: block;
}

.prod-dropdown:hover {
  display: block;
}

.prod-dropdown li:hover {
  cursor: pointer;
  display: block;
}

.jug {
  border: 0.1rem solid rgb(154, 147, 147);
  border-top: none;
  border-radius: 0 0 5rem 5rem;
  width: 1.5rem;
  height: 2rem;
  box-sizing: border-box;
  animation-name: pour;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  overflow: hidden;
}

.milk-limit {
  position: absolute;
  top: 0.2rem;
  width:3rem;
  height: 4rem;
  border-top:1px solid rgb(154, 147, 147);
  animation-name: tip;
  animation-duration: 2s;    
  background-color: rgb(247, 246, 215);
}

@keyframes pour {
  100% {
      transform: rotate(25deg);
  }
}

@keyframes tip {
  100% {
      transform: rotate(-25deg);
  }
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap:2rem;
  column-gap: 4rem;
  place-items: center;
  align-content: center;
  column-gap: 2rem;
}

.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
}

.product-name{
  grid-column: 2 / span 2;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  margin-right: 4rem;
}

.product-price{
  grid-column-start: 4;
  align-self: center;
  justify-self: left;
}

.product-desc{
  grid-column: 1 / span 2;
  grid-row-start:2;
  align-self: end;
  margin-right: 3rem;
  font-size: small;
}

.pack-desc{
  grid-row-start: 2 ;
  grid-column: 3 / span 2;
  justify-self: right;
  font-size: small;
  align-self: end;
}