body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  /* background:
  linear-gradient(white, #cb2427, white),
  linear-gradient(to top left, #ffffff, transparent),
  linear-gradient(to top right, transparent, #d8973c);
background-blend-mode: screen; */
  
}

.navbar-light {
  background-color: transparent;  
  height: 80px;
  width: 100%;
  vertical-align: middle;
  margin: 0.3rem 0.3rem 1rem 1rem;
  /* position: fixed; */
  /* top: 0; */
}

.footer {
  background: transparent;
  height: fit-content;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(3,1fr);
  margin: 3rem 0 1rem 0;
}

.footer-icon{
  width: 24px;
  height: 24px;
}

.contact{
  text-align: left;
  font-size: small;
}

.contact>table{
  margin-top:1rem;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.navbar-ul {
  display: flex;
  justify-content: space-around;
}

ul > li {
  list-style: none;
}

.nav-link{
  text-decoration: none;
  color: #ed2024;
  margin: 0rem 1rem 0rem 0rem;
  font-weight:600;
}

.nav-link:hover {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 8px;
  padding: 1rem;
  width: 50rem;
}